<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clock System</title>
    <link href="lib/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/favicon.png">
    <script src="lib/vue.min.js"></script>
    <script src="lib/vuetify.min.js"></script>
</head>

<body>
    <div id="app">
        <v-app :dark="dark">
            <v-content>
                <v-toolbar>
                    <v-toolbar-title>Clock System</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-menu bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn icon v-on="on">
                                    <v-icon>more_vert</v-icon>
                                </v-btn>
                            </template>

                            <v-list>
                                <settings :authorized="authorized" :spreadsheet="spreadsheet" @save="saveData">
                                </settings>

                                <v-list-tile @click="toggleDark">
                                    <v-list-tile-title>Toggle Theme</v-list-tile-title>
                                </v-list-tile>
                            </v-list>

                            <v-list-tile href="privacy.html">
                                <v-list-tile-title>Privacy Policy</v-list-tile-title>
                            </v-list-tile>

                            <v-list-tile href="help.html">
                                <v-list-tile-title>Help</v-list-tile-title>
                            </v-list-tile>
                        </v-menu>
                    </v-toolbar-items>
                </v-toolbar>

                <!-- Notificactions -->
                <v-snackbar v-model="notification.clockOutSuccess" timeout="10000" color="success" top>
                    Successfully clocked out!
                    <v-btn flat icon @click="notification.clockOutSuccess = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-snackbar>

                <v-snackbar v-model="notification.clockOutError" timeout="10000" color="error" top>
                    Failed to clock out!
                    <v-btn flat icon @click="notification.clockOutError = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-snackbar>

                <!-- New user clock system -->
                <v-container>
                    <v-layout row wrap>
                        <v-flex xs12 md8>
                            <v-text-field @keyup.enter="clockIn" v-model="newUser.name">Name</v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                            <v-btn large color="primary" @click="clockIn" :disabled="!newUser.name">Clock In</v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>

                <!-- Current users -->
                <v-container>
                    <user-picker v-if="currentUser < 0" :users="users" @select="setCurrentUser"></user-picker>
                    <div v-else>
                        <user :state="users[currentUser]" :index="currentUser" @clock-out="clockOut"
                            @remove="remove(currentUser)">
                        </user>
                        <v-btn flat @click="currentUser = -1">Select other</v-btn>
                    </div>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/google.js"></script>
</body>

</html>